<h1>Editing Incategory</h1>

<%= render 'form', incategory: @incategory %>

<%= link_to 'Show', @incategory,class: "btn btn-xs btn-primary" %> |
<%= link_to 'Back', incategories_path , class: "btn btn-xs btn-success"%>
