<h1>Editing Excategory</h1>

<%= render 'form', excategory: @excategory %>

<%= link_to 'Show', @excategory ,class: "btn btn-xs  btn-info"%> |
<%= link_to 'Back', excategories_path ,class: "btn btn-xs btn-primary"%>
