<h1>Editing Expense</h1>

<%= render 'form', expense: @expense %>

<%= link_to 'Show', @expense ,class: "btn btn-xs btn-primary" %> |
<%= link_to 'Back', expenses_path , class: "btn btn-xs btn-success" %>
